body {
    background-color: black;
    position: relative;
}

.Navigateur {
    background-color:  black;
    opacity: 0.8;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
    padding: 15px 1px;
    position: fixed;
    z-index: 10;
}

.logo {
  display: flex;
  align-items: center;
  gap: 7px;
}

.SmallLogo {
  width: 40px;
  height: auto;
}

.logotext {
  font-size: 1.2em;
  font-family: Arial, Helvetica, sans-serif;
}

.navright a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  margin: 0 5px;
  transition: all 0.3s ease;
  font-family: Arial, Helvetica, sans-serif;
}

.navright a:hover, .navright a:active {
  background: linear-gradient(90deg, rgb(255, 64, 0), rgb(255, 153, 0));
  padding: 5px;
  color: black;
}

.AccuielBackground {
    position: relative;
    top: 0;
    width: 100%;
    z-index: 1;
}

.DecouverteBackground {
    top: 0;
    width: 100%;
    z-index: 1;
}

.BackgroundOne {
    width: 100%;
    height: 600px;
}
.BackgroundTwo {
    width: 100%;
    height: 400px;
    opacity: 0.08;
}


.BackgroundThree {
    width: 100%;
    height: 600px;
}

.BackgroundFour {
    width: 100%;
    height: 600px;
    opacity: 0.2;
}

.BackgroundFive {
    position:initial;
    width: 100%;
    height: 600px;
    opacity: 0.2;
}

.MainTitle {
    top: 20%;
    left: 3%;
    color: white;
    z-index: 3;
    font-weight: 1500;
    font-family: Playfair Display SC;
    letter-spacing: 1px;
    position: absolute;
}

.MainAccueil h2 {
    position: absolute;
    top: 38%;
    left:8%;
    color: rgb(255, 81, 0);
    font-family: Dancing Script;
    text-align: center;
    border-radius: 25px;
    padding: 10px;
    margin: 250px;
    margin-bottom: 50px;
    z-index: 3;
}

.MainAccueil p {
    position: absolute;
    top:70%;
    color: white;
    text-align: center;
    margin-left: 150px;
    margin-right: 150px;
    font-weight: 500;
    font-family: Playfair Display SC;
}

.DecouvertButton a{
    position: absolute;
    top:85%;
    color: black;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s ease;
    display: inline-block;
    background: linear-gradient(rgb(255, 81, 0), rgb(255, 191, 0));
    border-radius: 15px;
    padding: 15px;
    margin-left: 560px;
    font-family: fantasy;
    font-weight: 200;
}

.DecouvertButton a:hover, .DecouvertButton a:active {
    transform: scale(1.3);
    border-color: brown;
    border-width: 10px;
}

.white {
    color:white;
}

.ImageIntro {
    justify-content: space-around;
    align-items: center;
    display: flex;
    flex-direction: row;
}
.ImageIntro img {
    position: relative;
    top: -1100px;
    width: 20%;
}
.ImageDisc {
    position: relative;
    justify-content: space-around;
    align-items: center;
    display: flex;
    flex-direction: row;
    top: -1070px;
    font-size: 300%;
    font-family: Metal Mania;
    
}

.ImageDisc a {
    text-decoration: none;
    color: orangered;
}

.ImageDisc a:hover{
    background: linear-gradient(90deg, orangered, rgb(255, 191, 0));
    padding: 3px 6px;
    border-radius: 15px;
    color: black;
}

.MainTitleD {
    align-items: center;
    color: rgb(255, 115, 0);
    position: absolute;
    top: 6%;
    left: 33%;
    font-size: 300%;
    font-family: Metal Mania;
    text-shadow: rgb(0, 0, 0) 0 6px;
}

.MainTitleD:hover {
    text-shadow: rgb(255, 0, 0) 0 6px;
}

.Arrow {
    position: absolute;
    width: 10%;
    top: 380px;
    left: 45%;
}
#Horaires {
    text-align: center;
    position: relative;
    align-items: center;
    color: white;
    top: -850px;
}
#Horaires h2{
    align-items: center;
    text-align: center;
    position: relative;
    color: white;
    font-size: 300%;
    font-family: Metal Mania;
}

#Horaires .BorderLI {
    border: 6px solid orange;
    border-radius: 25px;
    padding: 15px;
    margin: 10px 300px;
}

.Orange {
    color: orangered;
    font-family: Metal Mania;
}

.Date {
    margin: 0 70px;
    font-family: Metal Mania;
}

hr {
    position: relative;
    top: -940px;
    color: orangered;
    border: 10px dashed orangered;
}

.HrTwo {
    position: relative;
    top: -740px;
    color: orangered;
    border: 10px dashed orangered;   
}

.HrThree {
    position: relative;
    top: -540px;
    color: orangered;
    border: 10px dashed orangered;   
}
.LieuxDisc {
    position: relative;
    top: -700px;
    left: 20%;
    color: white;
    display: inline-block;
    font-size: 200%;
}
.LieuxImg {
    border: 8px solid orangered;
    border-radius: 15px;
    position: relative;
    top: -600px;
    left: 10%;
    max-width: 40%;
    max-height: 40%;
}

.LieuxTitle {
    color: orangered;
    font-family: Metal Mania;
}
footer {
    background-color: black;
    color: white;
    bottom: 0;
    position: fixed;
    width: 100%;
    text-align: center;
    z-index: 10;
}

